<!DOCTYPE html>

<!--duck mascot using javascript-->
<html>
    <head>
        <title>Fitness Quack</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://kit.fontawesome.com/ab993de334.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    </head>
    

        <body>
            <a onclick="openNav()"><button class ="navigation"><i id="navButton" class="fa-solid fa-bars"></i></button></a>
            <h1>Statistics!</h1>
            <!-- <a href="CalorieChecker.html"><button class="calorie">CALORIE CHECKER</button></a> calorie checker button (temporarily disabled) -->
            <div id="homeSidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/mainpage" class="navButton"><i class="fa-solid fa-house"></i>   Home</a>
                <a href="/caloriechecker" class="navButton"><i id="icon" class="fa-solid fa-chart-pie"></i>   Nutrition</a>
                <a href="/sleepcounter" class="navButton"><i class="fa-solid fa-bed"></i>   Sleep</a>
                <a href="/exercise" class="navButton"><i class="fa-solid fa-dumbbell"></i>   Exercise</a>
                <a href="/statistics" id="active" class="navButton"><i class="fa-solid fa-chart-simple"></i>   Statistics</a>
            </div>

            <br> <br> <br>
            
            <div class="box">
              <div class="statistics">
                <h2>Quack! Here's your health stats: <br></h2>
                <h2>Total Hours Exercised: <%= sum %> hours</h2>
                <h2>Approximate calories burnt: <%= calorie_count %> calories</h2>
                <h2>Average Hours Slept: <%= hours_slept %> hours</h2>
                <h2>Since you slept for an average of <%= hours_slept %> hours per night and the healthy range of sleep for people aged <%= age_range %> is <%= min_age %>-<%= max_age %> hours, you <%= recommendation %>  </h2>
                <h2>[Sincerely, the FitnessQuack Duck!]</h2>

              </div>
              <img src="https://pbs.twimg.com/media/EzhYlPVVoAIkO5-?format=jpg&name=4096x4096" alt="">
            </div>
            
            

    <style>
      .statistics{
        padding-top:10px;
        width:600px;
        height:400px;
        color:rgb(255, 255, 255);
            font-size: 5x;
            font-family: "Chakra Petch";
            text-shadow: #ffe77c;
            color: rgb(243, 173, 132);
            border: 6px solid #f9cd7c;
            text-align:center;
            background-color: rgb(221, 158, 112);
            border-style:groove;
            border-radius: 10px;
            border-color: rgb(255, 255, 255);
            -webkit-text-fill-color: rgba(255, 248, 243, 0.901); 
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(132, 132, 132);
      }
      .box{
        display:flex;
        align-items: center;
        justify-content: center;
      }

        img{
          width:30%;
          height:30%;
          padding-left: 10%;
        }

        #navButton {
            font-size:20px;
        }

        .navigation {
            border-radius:8px;
            margin-top:4px;
            margin-left:5px;
            background-color: #fff6d2;
            font-family: "Chakra Petch";
            text-shadow: #ffde7c;
            font-style: normal;
            padding: 3px 6px;
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            font-weight: bold;
            color: #ffe586;
            border: 2px solid #ffe596;
            float: left;

        }

        #active{ /* TEMPORARY (feel free to change) */
            background-color: rgb(255, 240, 163);
            font-family: "Chakra Petch";
            color:#ceb749;
            text-shadow: #ffe77c;
            border: 6px solid #ffe77c;
        }

        .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 350px;
}
        
        h1 {
            color:rgb(245, 237, 220);
            font-size: 400;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size:xx-large;
            text-align:center;
            background-color: rgb(254, 248, 235);
            border-style:groove;
            border-radius: 10px;
            border-color: rgb(255, 255, 255);
            -webkit-text-fill-color: rgb(248, 227, 178); 
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(123, 123, 123);
            
        }

        .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

        .calorie {
            background-color: rgb(250, 215, 171);
            width: 500px;
            font-family: "Chakra Petch";
            text-shadow: #ffc07c;
            font-style: normal;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 35px;
            font-weight: bold;
            color: rgb(255, 255, 255);
            border: 6px solid #ffc07c;

             }
        .navButton {
        background-color: rgb(250, 215, 171);
        font-family: "Chakra Petch";
        text-shadow: #ffc07c;
        font-style: normal;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 35px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        border: 6px solid #ffc07c;
        margin-top: 5px;

            }

             .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #fff2d2; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }

        /* The navigation menu links */
        .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 25px;
        color: rgb(255, 255, 255);
        display: block;
        transition: 0.3s;
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
        color: #f1f1f1;
        }

        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        }
        
        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
        }


        body {
            background-image: url(https://i.pinimg.com/originals/72/aa/6e/72aa6ead478c0959269b773fca9095ef.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <script>
        function openNav() {
            document.getElementById("homeSidenav").style.width = "100px";
          }
          
          /* Set the width of the side navigation to 0 */
          function closeNav() {
            document.getElementById("homeSidenav").style.width = "0";
          }
        
          function openNav() {
            document.getElementById("homeSidenav").style.width = "100px";
            document.getElementById("main").style.marginLeft = "100px";
          }
          
          /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
          function closeNav() {
            document.getElementById("homeSidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
          }
        
          function openNav() {
            document.getElementById("homeSidenav").style.width = "100px";
            document.getElementById("main").style.marginLeft = "100px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
          }
          
          /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
          function closeNav() {
            document.getElementById("homeSidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
          }
        
          /* Open the sidenav */
        function openNav() {
            document.getElementById("homeSidenav").style.width = "20%";
          }
          
          /* Close/hide the sidenav */
          function closeNav() {
            document.getElementById("homeSidenav").style.width = "0";
          }
    </script>
</html>